# -----------------
# Temporary files
# -----------------
# vi
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
# MS Office
~$*
*.tmp
# Emacs
.\#*
# Jupyter Notebook
**/.ipynb_checkpoints
inventory
ansible.cfg
tljh_playbook.yml
# SSH
**/.ssh
id_rsa*
id_ecdsa*
id_ed25519*
# -----------------
# Backup files
# -----------------
*~
*.orig
*.bak
# yyyyMMdd
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmm
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmmss
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# OS dependent files
# -----------------
# Mac (Clutter files)
.DS_Store
Thumbs.db
